/*

Template name prosad HTML5
Template URK:http://.www. prosad.com

Aothor name: md shahin sir
Author URL:.......
Version

==========Template content for Index=========



1. boday basic pramiter
2.header aria design
3.banner-part design
4.about-part design
5.Properties-part design
6.citys-part design
7.company-part design
8.client-part design
9. agent-part design
10.blog-part design
11.footer design
12.backtotop design
*/
/*==========1 boday basic pramiter=========*/
$body-font: 'Roboto',
sans-serif;
$title-font: 'Rubik',
sans-serif;


$prymari-color:#ec3323;
$secondery-color:#002172;
$normal-color: #fff;
$transition: all linear.3s;


* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: $transition;

    &:hover {
        text-decoration: none;
        transition: $transition;
    }
}

body {
    font-family: $body-font;
    color: #7777;
    font-size: 16px;
    line-height: 26px;
}

.title {
    text-align: center;
    padding-bottom: 50px;

    h2 {
        font-family: $title-font;
        font-size: 36px;
        font-weight: 700;
        color: #000;
        margin-bottom: 25px;
    }

    p {
        padding: 0 425px;
    }


}

/*==========2.header aria design=========*/
.header-top-aria {
    background: $prymari-color;
    padding: 8px 0;

    .header-top-welcome {
        p {
            font-size: 14px;
            color: #fff;
            margin: 0;
        }
    }

    .header-top-contact {
        ul {
            text-align: center;

            li {
                display: inline-block;
                margin: 7;

                a {
                    display: block;
                    font-size: 14px;
                    color: #fff;

                    i {
                        margin-right: 10px;

                    }
                }

            }
        }
    }

    .header-top-socal {
        ul {
            text-align: center;

            li {
                display: inline-block;

                a {
                    display: block;
                    color: #fff;

                    &:hover {
                        text-decoration: none;
                        transition: $transition;
                        color: #000;
                    }
                }
            }
        }
    }

    .header-top-login-signup {
        ul {
            text-align: center;

            li {
                display: inline-block;
                margin: 7;
                color: #fff;

                &:last-child {
                    a {
                        &::after {
                            display: none;
                        }
                    }
                }

                a {
                    display: block;
                    font-size: 14px;
                    color: #fff;
                    position: relative;
                    margin-right: 10px;

                    &::after {
                        position: absolute;
                        content: "";
                        right: -7px;
                        top: 8px;
                        width: 2px;
                        height: 12px;
                        background: #fff;

                    }

                    &:hover {
                        text-decoration: none;
                        transition: $transition;
                        color: #000;
                    }
                }




            }
        }
    }

}

.header-aria {
    background: transparent;
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 9999;
    width: 100%;

    .round-shap {
        background: #ffffff;
        position: relative;

        &::after {
            position: absolute;
            left: -103px;
            top: 0;
            width: 103px;
            height: 100%;
            content: "";
            background: #fff;
            border-radius: 0 0 0 73px;

        }

        &::before {
            position: absolute;
            right: -103px;
            top: 0;
            width: 103px;
            height: 100%;
            content: "";
            background: #fff;
            border-radius: 0 0 73px 0;

        }

    }

    .logo {
        a {
            img {
                padding-top: 35px;
            }
        }
    }

    .main-manu {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: right;

            li {
                display: inline-block;
                position: relative;
                transition: $transition;

                &:hover {
                    background: #000;
                    transition: $transition;

                    ul.sub-menu {
                        opacity: 1;
                        visibility: visible;
                        top: 101%;

                    }

                    a {
                        color: #fff;

                        i {
                            color: #fff;
                        }
                    }
                }

                ul.sub-menu {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 150px;
                    background: #000;
                    opacity: 0;
                    text-align: left;
                    transition: 1s;

                    li {
                        display: block;
                        border-bottom: 1px solid #ddd;

                        a {
                            color: #fff;
                            padding: 10px;
                            transition: $transition;

                            &:hover {
                                padding-left: 20px;
                                transition: $transition;

                            }
                        }
                    }
                }

                a {
                    color: #000;
                    font-weight: 500;
                    font-family: $title-font;
                    font-size: 16px;
                    padding: 40px 15px;
                    display: inline-block;
                    transition: $transition;

                    i {
                        color: #555;
                        font-size: 16px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    .submit-property {
        margin-top: 30px;

        a {
            display: block;
            padding: 10px;
            background: #000;
            color: #fff;
            text-transform: uppercase;
            font-size: 15px;
            text-align: center;
            transition: $transition;

            &:hover {
                background: $prymari-color;
            }
        }
    }
}

/*==========3.banner-part  design=========*/
#banner-part {
    .banner {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/banner.png) no-repeat center;
        background-size: cover;
        padding: 380px 0 350px 0;
        clip-path: circle(210vh at 50% -80vh);
        text-align: center;

        h2 {
            font-family: $title-font;
            font-size: 48px;
            color: $normal-color;
            line-height: 32px;
            font-weight: 500;
        }

        p {
            color: $normal-color;


            padding: 40px 80px;

        }

        .main-form {
            background: $normal-color;
            font-family: $body-font;
            font-size: 15px;

            .search-field {
                width: 100%;
                position: relative;
                border: 0;

                input {
                    padding: 20px 0px 20px 30px;
                }

                .icon {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $prymari-color;
                }

                .form-control:focus {

                    box-shadow: none;
                }
            }

            .dropdown {
                width: 100%;


                .lbtn {
                    width: 100%;
                    line-height: 52px;
                    border-right: 1px solid #dddddd;
                    border-radius: none;
                }

                .btn-check:focus+.btn,
                .btn:focus {
                    outline: 0;
                    box-shadow: 0;

                }

                .dropdown-toggle::after {
                    display: none;
                }

                .rbtn {
                    width: 100%;
                    line-height: 52.2px;
                }

                i {
                    margin-left: 5px;
                }

            }

            .search {
                background: $prymari-color;
                border: 0;
                width: 100%;
                line-height: 66px;
                font-family: $title-font;
                font-weight: 500;
                color: $normal-color;
                text-transform: uppercase;
            }

        }


    }



    .left-arrow {
        position: absolute;
        left: 0%;
        top: 50%;
        transform: translateY(-50%);
        padding: 45px 27px;
        font-size: 40px;
        background: $secondery-color;
        color: $normal-color;
        z-index: 999;
        transition: $transition;

        &:hover {
            background: $prymari-color;
        }
    }

    .right-arrow {
        position: absolute;
        right: 0%;
        top: 50%;
        transform: translateY(-50%);
        padding: 45px 27px;
        font-size: 40px;
        background: $prymari-color;
        color: $normal-color;
        z-index: 999;
    }
}

/*==========4.about-part design=========*/

#about-part {
    margin-top: 100px;

    .left-about-img {
        width: 100%;
        transform: translateY(-100px);
    }

    .medel-about-img {
        width: 100%;
    }

    .details {
        padding-left: 20px;

        &-title {
            font-family: $title-font;
            font-weight: 500;
            font-size: 24px;
            color: #000;
            line-height: 34px;
        }

        p {
            margin: 35px 0;
            line-height: 24px;
            width: 470px;
        }

        .btn {
            margin-left: -12px;

            a {
                padding: 18px 34px;
                background: $prymari-color;
                font-family: $title-font;
                font-weight: 500;
                color: $normal-color;
                text-transform: uppercase;
                transition: $transition;

                &:hover {
                    background: $secondery-color;
                }
            }
        }
    }
}

/*==========5.Properties-part design=========*/
#Properties-part {
    background: #e5edff;
    margin-top: 100px;

    padding-bottom: 100px;


    .properties-title {
        background: $normal-color;

        width: 70%;
        margin-left: auto;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 110px;
        border-bottom-left-radius: 128px;

        p {
            padding: 0 212px;
        }

    }

    .properties-slider {
        margin-top: -70px;
    }

    .item {


        margin: 0 15px;

        .img {
            img {
                width: 100%;
            }
        }

        .text {
            background: $normal-color;
            padding: 20px 20px 0 20px;

            .details {

                li {
                    display: inline-block;
                    font-size: 14px;

                    i {
                        margin-right: 5px;
                        color: $prymari-color;
                        font-size: 15px;
                    }
                }
            }

        }

        h3 {
            font-family: $title-font;
            font-weight: 500;
            font-size: 20px;
            color: #000;
            margin: 24px 0;

        }

        p {

            line-height: 26px;
            margin-bottom: 45px;

            width: 308px;
            font-size: 14px;
        }

        .button {
            background: $prymari-color;
            text-align: left;

            .line {
                position: relative;

                &::after {
                    position: absolute;
                    right: -18px;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    background: #e11200;
                    content: "";
                }
            }


            li {
                display: inline-block;
                margin-left: 30px;

                a {
                    display: inline-block;
                    line-height: 50px;
                    font-family: $title-font;
                    font-weight: 500;
                    font-size: 16px;
                    color: $normal-color;
                }
            }
        }

    }



    .prev {
        position: absolute;
        right: 115px;
        top: -90px;
        padding: 7px 14px;
        border: 3px dotted #c2cadd;
        background: transparent;
        color: $secondery-color;
        z-index: 99;
        font-size: 29px;
        transition: $transition;

        &:hover {
            color: $prymari-color;
        }
    }

    .next {
        position: absolute;
        right: 35px;
        top: -90px;
        padding: 7px 14px;
        border: 3px dotted #c2cadd;
        background: transparent;
        color: $prymari-color;
        z-index: 99;
        font-size: 29px;
    }
}

/*==========6.citys-part design=========*/
#citys-part {
    margin-top: 100px;



    .item-banner {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/citys-banner.png) no-repeat center;
        background-size: cover;
        padding: 166px 0;
        margin-bottom: 23px;
        text-align: center;

        .deitels {
            background: $secondery-color;
            display: inline-block;
            width: 250px;
            height: 120px;
            color: $normal-color;
            transition: $transition;

            &:hover {
                background: $prymari-color;
            }

            h1 {
                font-family: $title-font;
                font-weight: 500;
                font-size: 30px;
                padding-top: 28px;
            }

            p {
                font-family: $title-font;
                font-weight: 300;
                font-size: 18px;
            }

        }

    }

    .banner-tow {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/citys-banner-two.png) no-repeat center;


    }

    .banner-three {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/citys-banner-three.png) no-repeat center;


    }

    .banner-four {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/citys-banner-four.png) no-repeat center;


    }

    .button {
        text-align: center;

        a {
            display: inline-block;
            font-family: $title-font;
            font-weight: 500;
            font-size: 16px;
            padding: 17px 35px;
            color: $normal-color;
            background: $prymari-color;
            margin-top: 30px;
            transition: $transition;

            &:hover {
                background: $secondery-color;
            }
        }

    }

}


/*==========7.company-part design=========*/
#company-part {
    margin-top: 100px;

    .company-banner {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/company-banner.png);
        padding: 160px 0;
        text-align: center;

        p {
            font-weight: 400;
            color: $normal-color;
            margin-bottom: 20px;
        }

        h2 {
            font-family: $title-font;
            font-weight: 700;
            font-size: 40px;
            color: $normal-color;
        }

        ul {
            li {
                margin-top: 50px;
                margin-left: 10px;
                display: inline-block;

                a {
                    background: $secondery-color;
                    padding: 18px 23px;
                    text-transform: uppercase;
                    color: $normal-color;
                    font-family: $title-font;
                    font-weight: 500;
                    font-size: 16px;
                    transition: $transition;

                    &:hover {
                        background: $prymari-color;
                    }
                }
            }
        }
    }
}


/*==========8. client-part design=========*/

#client-part {
    margin-top: 100px;

    .client-title {
        margin-bottom: 50px;

        h2 {
            font-family: $title-font;
            font-size: 36px;
            font-weight: 700;
            color: #000;
            margin-bottom: 20px;
        }

        p {
            padding-right: 602px;
        }

    }

    .item {
        text-align: center;

        .img {
            display: flex;
            justify-content: center;
            position: relative;
            display: inline-block;

            &::after {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 5px;
                height: 84px;
                background: $prymari-color;
                content: "";
            }

            &::before {
                position: absolute;
                left: 0;
                bottom: -7px;
                width: 75px;
                height: 7px;
                background: $prymari-color;
                content: "";
            }
        }

        h3 {
            font-family: $title-font;
            font-family: 500;
            font-size: 24px;
            margin-top: 43px;
            color: #000;
        }

        h6 {
            margin-top: 9px;
            color: $secondery-color;
            font-weight: 400;
            font-size: 14px;

        }

        p {
            margin-top: 25px;
            padding: 0 45px;
        }
    }

    .prev {
        position: absolute;
        right: 115px;
        top: -100px;
        padding: 7px 14px;
        border: 3px dotted #c2cadd;
        background: transparent;
        color: $secondery-color;
        z-index: 99;
        font-size: 29px;
        transition: $transition;

        &:hover {
            color: $prymari-color;
        }
    }

    .next {
        position: absolute;
        right: 35px;
        top: -100px;
        padding: 7px 14px;
        border: 3px dotted #c2cadd;
        background: transparent;
        color: $prymari-color;
        z-index: 99;
        font-size: 29px;
    }

}

/*==========9. agent--part design=========*/
#agent-part {
    margin-top: 100px;
    background: url(../images/agent-banner.png) no-repeat center;
    background-size: cover;
    padding: 100px 0;

    .title {
        h2 {
            color: $normal-color;
        }

        color: $normal-color;
    }

    .item {
        .img {
            img {
                width: 100%;
            }
        }

        .text {
            width: 235px;
            border: 1px solid #263980;
            background: transparent;
            margin: 0 auto;
            border-top: 0;
            padding-left: 20px;

            h3 {
                font-family: $title-font;
                font-weight: 500;
                font-size: 20px;
                padding-top: 20px;
                color: $normal-color;
            }

            p {
                font-size: 14px;
                color: $normal-color;
            }

            .icon {
                ul {
                    li {
                        display: inline-block;

                        a {
                            display: inline-block;

                            i {
                                font-size: 14px;
                                color: $normal-color;
                                margin-right: 15px;
                                padding-bottom: 20px;
                                transition: $transition;

                                &:hover {
                                    color: $prymari-color;
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}



/*==========10.blog-part design=========*/
#blog-part {
    margin-top: 100px;

    .item {
        margin: 0 15px;

        .img {
            img {
                width: 100%;
            }
        }

        .text {
            width: 320px;
            margin: 0 auto;
            background: $normal-color;
            text-align: center;
            transform: translateY(-40%);

            p {
                font-family: $body-font;
                font-weight: 400;
                color: $secondery-color;
                font-size: 14px;
                padding-top: 42px;
            }

            h4 {
                font-family: $title-font;
                font-weight: 500;
                font-size: 20px;
                padding-top: 20px;
                padding-bottom: 25px;
                color: #000;
                padding: 20px 45px 25px;
            }

            a {
                display: inline-block;

                color: $prymari-color;
                padding-bottom: 42px;

            }
        }
    }

    .slick-center .text {
        border: 3px solid $prymari-color;
    }

    .prev {
        position: absolute;
        left: -70px;
        top: 34%;
        transform: translateY(-50%);
        padding: 7px 14px;
        border: 3px dotted #c2cadd;
        background: transparent;
        color: $secondery-color;
        z-index: 99;
        font-size: 29px;
        transition: $transition;

        &:hover {
            color: $prymari-color;
        }
    }

    .next {
        position: absolute;
        right: -70px;
        top: 34%;
        transform: translateY(-50%);
        padding: 7px 14px;
        border: 3px dotted #c2cadd;
        background: transparent;
        color: $prymari-color;
        z-index: 99;
        font-size: 29px;
    }


}


/*==========11.footer-part design=========*/
footer {
    background: url(../images/footer-banner.png) no-repeat center;
    background-size: cover;

    .footer-top {
        width: 60%;
        margin: 0 auto;
        background: transparent;
        border-bottom-left-radius: 62px;
        border-bottom-right-radius: 62px;
        border: 1px solid #464b8c;
        display: flex;

        padding: 25px 0;

        h3 {
            margin-left: 50px;
            font-family: $body-font;
            font-size: 24px;
            font-weight: 500;
            color: $normal-color;
            padding-top: 23px;
        }

        form {
            display: inline-block;
            position: relative;

            .mail {

                margin-left: 50px;

                input {
                    border: 1px solid #464b8c;
                    background: transparent;
                    padding: 24px 160px 24px 24px;
                    font-weight: 500;
                    font-size: 14px;
                    color: #fff;
                }


            }

            .button {
                position: absolute;
                right: 0;
                top: 0;

                button {
                    border: 0;
                    background: $prymari-color;
                    padding: 25px 24px;
                    color: $normal-color;
                    font-family: $title-font;
                    font-weight: 500;
                    font-size: 14px;
                    text-transform: uppercase\;
                }
            }

        }
    }


    .footer-main-aria {
        padding-top: 100px;

        h2 {
            font-family: $title-font;
            font-weight: 500;
            font-size: 20px;
            color: $normal-color;
            margin-bottom: 30px;
        }

        ul {
            li {
                margin-bottom: 7px;

                a {
                    color: $normal-color;
                    transition: $transition;

                    i {
                        margin-right: 8px;
                        color: $prymari-color;
                    }

                    &:hover {
                        color: $prymari-color;
                    }
                }
            }
        }

        .logo {
            p {
                color: $normal-color;
                padding-top: 30px;
                padding-bottom: 40px;
                font-size: 15px;
            }

            h3 {
                font-family: $title-font;
                font-weight: 500;
                font-size: 18px;
                color: $normal-color;
                background: $prymari-color;
                padding-left: 27px;

                padding: 15px 40px 15px 27px;
                display: inline-block;
                margin-bottom: 100px;
                transition: $transition;

                a {
                    display: inline-block;
                    color: $normal-color;
                }

                i {
                    margin-right: 15px;
                    font-size: 22px;
                }

                &:hover {
                    background: #000;
                }
            }
        }

        .post {
            .details {
                display: flex;
                margin-bottom: 30px;

                .text {
                    margin-left: 30px;
                    color: $normal-color;

                    p {
                        font-size: 14px;

                        padding-right: 70px;
                        line-height: 24px;
                    }

                    h6 {
                        font-family: $title-font;
                        font-weight: 500;
                        font-size: 14px;
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    .footer-botom-aria {
        border-top: 1px solid #073094;
        display: flex;
        justify-content: space-between;

        p {
            display: inline-block;
            padding: 36px 0 40px 0;

            span {
                color: $prymari-color;
            }
        }

        ul {
            margin-top: 30px;

            li {
                display: inline-block;

                a {
                    display: inline-block;

                    i {
                        width: 35px;
                        height: 35px;
                        background: transparent;
                        color: $normal-color;
                        font-size: 14px;
                        border-top: 1px solid #073094;
                        text-align: center;
                        line-height: 35px;
                        margin-left: 15px;
                        border-radius: 50%;
                        transition: $transition;

                        &:hover {
                            background: $prymari-color;
                        }
                    }
                }
            }
        }

    }
}

/*=============12.backtotop===============*/
.backtotop {
    position: fixed;
    bottom: 20px;
    right: 20px;
display: none;
    a {
        display: inline-block;

        i {
            padding: 24px 11px 21px 11px;
            background: #e73100;
            color: #fff;
            font-size: 20px;
        }
    }

}