/*

Template name prosad HTML5
Template URK:http://.www. prosad.com

Aothor name: md shahin sir
Author URL:.......
Version

==========Template content for Index=========



1. boday basic pramiter
2.header aria design
3.banner-part
4.about-part
5.Properties-part
6.citys-part
*/
/*==========1 boday basic pramiter=========*/
$body-font: 'Roboto',
sans-serif;
$title-font: 'Rubik',
sans-serif;


$prymari-color:#ec3323;
$secondery-color:#002172;
$normal-color: #fff;
$transition: all linear.3s;


* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: $transition;

    &:hover {
        text-decoration: none;
        transition: $transition;
    }
}

body {
    font-family: $body-font;
    color: #7777;
    font-size: 16px;
    line-height: 26px;
}

/*==========2.header aria design=========*/
.header-top-aria {
    background: $prymari-color;
    padding: 8px 0;

    .header-top-welcome {
        p {
            font-size: 14px;
            color: #fff;
            margin: 0;
        }
    }

    .header-top-contact {
        ul {
            text-align: center;

            li {
                display: inline-block;
                margin: 7;

                a {
                    display: block;
                    font-size: 14px;
                    color: #fff;

                    i {
                        margin-right: 10px;

                    }
                }

            }
        }
    }

    .header-top-socal {
        ul {
            text-align: center;

            li {
                display: inline-block;

                a {
                    display: block;
                    color: #fff;

                    &:hover {
                        text-decoration: none;
                        transition: $transition;
                        color: #000;
                    }
                }
            }
        }
    }

    .header-top-login-signup {
        ul {
            text-align: center;

            li {
                display: inline-block;
                margin: 7;
                color: #fff;

                &:last-child {
                    a {
                        &::after {
                            display: none;
                        }
                    }
                }

                a {
                    display: block;
                    font-size: 14px;
                    color: #fff;
                    position: relative;
                    margin-right: 10px;

                    &::after {
                        position: absolute;
                        content: "";
                        right: -7px;
                        top: 8px;
                        width: 2px;
                        height: 12px;
                        background: #fff;

                    }

                    &:hover {
                        text-decoration: none;
                        transition: $transition;
                        color: #000;
                    }
                }




            }
        }
    }

}

.header-aria {
    background: transparent;
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 9999;
    width: 100%;

    .round-shap {
        background: #ffffff;
        position: relative;

        &::after {
            position: absolute;
            left: -103px;
            top: 0;
            width: 103px;
            height: 100%;
            content: "";
            background: #fff;
            border-radius: 0 0 0 73px;

        }

        &::before {
            position: absolute;
            right: -103px;
            top: 0;
            width: 103px;
            height: 100%;
            content: "";
            background: #fff;
            border-radius: 0 0 73px 0;

        }

    }

    .logo {
        a {
            img {
                padding-top: 35px;
            }
        }
    }

    .main-manu {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            text-align: right;

            li {
                display: inline-block;
                position: relative;
                transition: $transition;

                &:hover {
                    background: #000;
                    transition: $transition;

                    ul.sub-menu {
                        opacity: 1;
                        visibility: visible;
                        top: 101%;

                    }

                    a {
                        color: #fff;

                        i {
                            color: #fff;
                        }
                    }
                }

                ul.sub-menu {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 150px;
                    background: #000;
                    opacity: 0;
                    text-align: left;
                    transition: 1s;

                    li {
                        display: block;
                        border-bottom: 1px solid #ddd;

                        a {
                            color: #fff;
                            padding: 10px;
                            transition: $transition;

                            &:hover {
                                padding-left: 20px;
                                transition: $transition;

                            }
                        }
                    }
                }

                a {
                    color: #000;
                    font-weight: 500;
                    font-family: $title-font;
                    font-size: 16px;
                    padding: 40px 15px;
                    display: inline-block;
                    transition: $transition;

                    i {
                        color: #555;
                        font-size: 16px;
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    .submit-property {
        margin-top: 30px;

        a {
            display: block;
            padding: 10px;
            background: #000;
            color: #fff;
            text-transform: uppercase;
            font-size: 15px;
            text-align: center;
            transition: $transition;

            &:hover {
                background: #000;
            }
        }
    }
}



/*==========3.banner-part pramiter=========*/
#banner-part {
    .banner {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/banner.png) no-repeat center;
        background-size: cover;
        padding: 380px 0 350px 0;
        clip-path: circle(210vh at 50% -80vh);
        text-align: center;

        h2 {
            font-family: $title-font;
            font-size: 48px;
            color: $normal-color;
            line-height: 32px;
            font-weight: 500;
        }

        p {
            color: $normal-color;


            padding: 40px 80px;

        }

        .main-form {
            background: $normal-color;
            font-family: $body-font;
            font-size: 15px;

            .search-field {
                width: 100%;
                position: relative;
                border: 0;

                input {
                    padding: 20px 0px 20px 30px;
                }

                .icon {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: $prymari-color;
                }

                .form-control:focus {

                    box-shadow: none;
                }
            }

            .dropdown {
                width: 100%;


                .lbtn {
                    width: 100%;
                    line-height: 52px;
                    border-right: 1px solid #dddddd;
                    border-radius: none;
                }

                .btn-check:focus+.btn,
                .btn:focus {
                    outline: 0;
                    box-shadow: 0;

                }

                .dropdown-toggle::after {
                    display: none;
                }

                .rbtn {
                    width: 100%;
                    line-height: 52.2px;
                }

                i {
                    margin-left: 5px;
                }

            }

            .search {
                background: $prymari-color;
                border: 0;
                width: 100%;
                line-height: 66px;
                font-family: $title-font;
                font-weight: 500;
                color: $normal-color;
                text-transform: uppercase;
            }

        }


    }



    .left-arrow {
        position: absolute;
        left: 0%;
        top: 50%;
        transform: translateY(-50%);
        padding: 45px 27px;
        font-size: 40px;
        background: $secondery-color;
        color: $normal-color;
        z-index: 999;
        transition: $transition;

        &:hover {
            background: $prymari-color;
        }
    }

    .right-arrow {
        position: absolute;
        right: 0%;
        top: 50%;
        transform: translateY(-50%);
        padding: 45px 27px;
        font-size: 40px;
        background: $prymari-color;
        color: $normal-color;
        z-index: 999;
    }
}








/*==========4.about-part pramiter=========*/

#about-part {
    margin-top: 100px;

    .left-about-img {
        width: 100%;
        transform: translateY(-100px);
    }

    .medel-about-img {
        width: 100%;
    }

    .details {
        padding-left: 20px;

        &-title {
            font-family: $title-font;
            font-weight: 500;
            font-size: 24px;
            color: #000;
            line-height: 34px;
        }

        p {
            margin: 35px 0;
            line-height: 24px;
            width: 470px;
        }

        .btn {
            margin-left: -12px;

            a {
                padding: 18px 34px;
                background: $prymari-color;
                font-family: $title-font;
                font-weight: 500;
                color: $normal-color;
                text-transform: uppercase;
            }
        }
    }
}

/*==========5.Properties-part =========*/
#Properties-part {
    background: #e5edff;
    margin-top: 100px;

    padding-bottom: 100px;


    .properties-title {
        background: $normal-color;

        width: 70%;
        margin-left: auto;
        text-align: center;
        padding-top: 100px;
        padding-bottom: 110px;
        border-bottom-left-radius: 128px;

        p {
            padding: 0 212px;
        }

    }

    .properties-slider {
        margin-top: -70px;
    }

    .item {


        margin: 0 15px;

        .img {
            img {
                width: 100%;
            }
        }

        .text {
            background: $normal-color;
            padding: 20px 20px 0 20px;

            .details {

                li {
                    display: inline-block;
                    font-size: 14px;

                    i {
                        margin-right: 5px;
                        color: $prymari-color;
                        font-size: 15px;
                    }
                }
            }

        }

        h3 {
            font-family: $title-font;
            font-weight: 500;
            font-size: 20px;
            color: #000;
            margin: 24px 0;

        }

        p {

            line-height: 26px;
            margin-bottom: 45px;

            width: 308px;
            font-size: 14px;
        }

        .button {
            background: $prymari-color;
            text-align: left;

            .line {
                position: relative;

                &::after {
                    position: absolute;
                    right: -18px;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    background: #e11200;
                    content: "";
                }
            }


            li {
                display: inline-block;
                margin-left: 30px;

                a {
                    display: inline-block;
                    line-height: 50px;
                    font-family: $title-font;
                    font-weight: 500;
                    font-size: 16px;
                    color: $normal-color;
                }
            }
        }

    }



    .prev {
        position: absolute;
        right: 115px;
        top: -66px;
        padding: 10px 16px;
        border: 3px dotted #c2cadd;
        background: transparent;
        color: $secondery-color;
        z-index: 99;
        font-size: 29px;
        transition: $transition;

        &:hover {
            color: $prymari-color;
        }
    }

    .next {
        position: absolute;
        right: 35px;
        top: -66px;
        padding: 10px 16px;
        border: 3px dotted #c2cadd;
        background: transparent;
        color: $prymari-color;
        z-index: 99;
        font-size: 29px;
    }
}

/*==========6.citys-part =========*/
#citys-part {
    margin-top: 100px;

    .city-title {
        text-align: center;
        margin-bottom: 50px;
        h2{
            font-family: $title-font;
            font-size: 36px;
            font-weight: 700;
            color: #000;
        }
        p{
            margin-top: 20px;
            padding: 0 420px;
        }
    }

    .item-banner {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/citys-banner.png) no-repeat center;
        background-size: cover;
        padding: 166px 0;
        margin-bottom: 23px;
        text-align: center;

        .deitels {
            background: $prymari-color;
            display: inline-block;
            width: 250px;
            height: 120px;
            color: $normal-color;

            h1 {
                font-family: $title-font;
                font-weight: 500;
                font-size: 30px;
                padding-top: 28px;
            }

            p {
                font-family: $title-font;
                font-weight: 300;
                font-size: 18px;
            }
        }

    }

    .banner-tow {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/citys-banner-two.png) no-repeat center;

        .deitels {
            background: $secondery-color;
        }
    }

    .banner-three {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/citys-banner-three.png) no-repeat center;
        .deitels {
            background: $secondery-color;
        }
    }

    .banner-four {
        background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/citys-banner-four.png) no-repeat center;
        .deitels {
            background: $secondery-color;
        }
    }
    .button{
        text-align: center;
        a{
            display: inline-block;
            font-family: $title-font;
            font-weight: 500;
            font-size: 16px;
            padding: 17px 35px;
            color: $normal-color;
            background: $prymari-color;
            margin-top: 30px;
            
        }
    }

}